**Name: Md Mahadi Hasan**  
**Class Note for project 1 or chapter 1.**

In [32]:
print('Hello World')
Message="We are coding in Jupyter"
print(Message)

Hello World
We are coding in Jupyter

# Keyboard Shortcuts
*Creating a new cell: ALT + Enter*  
*Executing codes in cell: CTRL + Enter*  
*Run cell and move to next cell: Shift+ Enter*

# The next few cells will be about String Method

In [7]:
quote='Fortune Favors the Bold'
quote.lower()

'fortune favors the bold'

In [8]:
quote.upper ()

'FORTUNE FAVORS THE BOLD'

### Concatenating  

When we concatenate an object, we are essentially taking one object and appending another object to it.

**String Concatenation:**

In [11]:
greeting = "Hello" + " " + "World"
print(greeting)

Hello World

**List Concatenation:**

In [13]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
combined_numbers = numbers1 + numbers2
print(combined_numbers)

[1, 2, 3, 4, 5, 6]

In [2]:
print(list(i for i in range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

# tuple

In [17]:
line1="This is a dog"  
line2="This is a cat"

In [24]:
line1,line2

('This is a dog', 'This is a cat')

In [28]:
print(line1,line2)

This is a dog This is a cat

In [29]:
print(line1,line2, sep='\n')

This is a dog
This is a cat

In [30]:
print(line1,line2, sep='::')

This is a dog::This is a cat

In [31]:
print(line1,line2, sep=' ')

This is a dog This is a cat

## Double quotes, single quotes and escape.
**To include single quotes in a string, we can either enclose the string in double quotes or escape the single quote using a backslash '\'**

In [4]:
string_with_single_quote = "Here's an example with single quotes."  
string_with_single_quote

"Here's an example with single quotes."

In [5]:
string_with_single_quote_escaped = 'Here\'s an example with single quotes.'
string_with_single_quote_escaped

"Here's an example with single quotes."

In [7]:
string_with_double_quotes = '"Double quotes" can be included like this.'
string_with_double_quotes

'"Double quotes" can be included like this.'

In [8]:
string_with_double_quotes_escaped = "\"Double quotes\" can be included like this."
string_with_double_quotes_escaped

'"Double quotes" can be included like this.'

In [10]:
spaces = "    Look at all the spaces in the text!    "
print(spaces.lstrip())

Look at all the spaces in the text!

In [12]:
print(spaces.strip())

Look at all the spaces in the text!

In [13]:
print(spaces.replace(" ", ""))

Lookatallthespacesinthetext!

In [14]:
print(spaces.replace(" ", "-"))

----Look-at-all-the-spaces-in-the-text!----

# Working with values/numbers

In [15]:
xint = 3
xfloat = 3.
xstr = '3'
xint, xfloat, xstr

(3, 3.0, '3')

In [16]:

print(xint + xfloat, type(xint + xfloat))

6.0 <class 'float'>

**operation between a string and a float (this will cause an error)**

In [17]:
print(xstr + xfloat)

TypeError: can only concatenate str (not "float") to str

### Concatenating a string with a representation of a float

In [18]:
xstr = '3'
xfloat = 3.0
print(xstr + str(xfloat))

33.0

### Concatenating a string with a representation of an integer

In [19]:
xint = 3
print(xstr + str(xint))

33

In [20]:
print(int(xstr) + xint)

6

In [21]:
print(float(xstr) + xint)

6.0

### A dictionary mapping strings to values

In [22]:
string_to_value = {
    "One": 1,
    "Two": 2,
    "Three": 3,
    "Four": 4
}

**Iterating over the dictionary and printing key-value pairs**

In [23]:
for key, val in string_to_value.items():
    print(key, val)

One 1
Two 2
Three 3
Four 4

## Overflow error in arithmetic operation

Float cannot be $2.0^{1024}$ or larger.
*This operation below calculates 2 raised to the power of 1023, which results in a very large number but still within the range that can be represented by a float in Python. The output is displayed in scientific notation*

result = 2.0**1023
print(result)

In [29]:
result = 2.0**1024

OverflowError: (34, 'Result too large')

**This will work for integers, because Python handles arbitrary-precision integers**

In [30]:
result = 2**1024 * 2
print(result)

359538626972463181545861038157804946723595395788461314546860162315465351611001926265416954644815072042240227759742786715317579537628833244985694861278948248755535786849730970552604439202492188238906165904170011537676301364684925762947826221081654474326701021369172596479894491876959432609670712659248448274432